<!doctype html>
<html>
<head>
    <title>sup</title>
</head>

<body>
    <div id="container" style="width:100%; height:400px;"></div>
    <div>
        Stocks:
        <ul id="stock-list">
        </ul>
        
        <form>
            <input id="symbol-add" type="text">
            <button>Add</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="/asset/app.js"></script>
</body>
</html>
